<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="navbar.component.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-container">
        <nav class="navbar">
            <h1 id="navbar-logo">MICHAEL.DEV</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class = "nav-menu">
                <li><a href="#home" class="nav-links">Home</a></li>
                <li><a href="#about" class="nav-links">About</a></li>
                <li><a href="#work" class="nav-links">Work</a></li>
                <li><a href="#contact" class="nav-links nav-links-btn">Contact</a></li>
            </ul>
        </nav>
    </div>
    <section class="home" id="homeSec">
        <div class="container-home" id = "home">
            <div class="contentHome">
                <div class="home-main">
                    <div class="homeText">
                        <h1>Full-Stack Software Engineer</h1>
                        <p>Hi, I'm Michael Carroll. A passionate developer based in Orlando, Florida. </p>
                    </div>
                    <div class="imageBorder">
                        <div class="homeImg">
                            <img src="../../assets/carphoto1.png">
                            <h2>Michael Carroll</h2><br>
                            <a href = "#contact">contact</a>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <p>Tech Stack</p>
                    <div class="skill-logos">
                        <ul>
                            <li>
                                <img src="../../assets/html-5-svgrepo-com.svg" title = "HTML5" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/css-3-svgrepo-com.svg" title = "CSS3" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/javascript-svgrepo-com.svg" title = "Java Script" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/angular-svgrepo-com.svg" title = "Angular" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/vue-9-logo-svgrepo-com.svg" title = "VueJS" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/typescript-official-svgrepo-com.svg" title = "Type Script" alt="skill-icon">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id = "about" class = "about">
        <div class="container-about">
            <div class="contentAbout">
                <div class="aboutImg">
                    <img src="../../assets/carphoto2.png" class = "img-main">
                </div>
                <div class="aboutText">
                    <h1>ABOUT ME</h1>
                    <h2>A dedicated Full-Stack Developer</h2>
                    <p>As a Junior Full-Stack Developer, I possess an impressive arsenal of skills in HTML, CSS, JavaScript, 
                    React, Tailwind, and SCSS. I excel in designing and maintaining responsive websites that 
                    offer a smooth user experience. My expertise lies in crafting dynamic, engaging interfaces through 
                    writing clean and optimized code and utilizing cutting-edge development tools and techniques. 
                    I am also a team player who thrives in collaborating with cross-functional teams to produce outstanding 
                    web applications.</p>
                </div>
            </div>
        </div>
    </section>
    <section id = "work" class = "work">
        <div class="container-work">
            <div class="contentWork">

            </div>
        </div>
    </section>

    <div class="container-contact" id = "contact">

    </div>
    <script src="navbar.component.ts">

    </script>
</body>
</html>