<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b8e658d649.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Poppins:wght@100;400;500&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="navbar.component.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-container">
        <nav class="navbar">
            <h1 id="navbar-logo">MICHAEL.DEV</h1>
            <div class="menu-toggle" id="mobile-menu" [class.menu-toggle-Class]="menuIconVariable" (click)="openMenu()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class = "nav-menu" [class.menuClass]="menuVariable">
                <li><a href="#home" class="nav-links" (click)="openMenu()">Home</a></li>
                <li><a href="#about" class="nav-links" (click)="openMenu()">About</a></li>
                <li><a href="#work" class="nav-links" (click)="openMenu()">Work</a></li>
                <li><a href="#contact" class="nav-links nav-links-btn" (click)="openMenu()">Contact</a></li>
            </ul>
        </nav>
    </div>
    <section class="home" id="homeSec">
        <div class="container-home" id = "home">
            <div class="contentHome">
                <div class="home-main">
                    <div class="homeText">
                        <h1>Software Engineer</h1>
                        <p>Hi, I'm <span>Michael Carroll</span>, a Computer Science Undergraduate based in Orlando, Florida. </p>
                        <span class = "socials">
                            <a aria-label="linkedin" target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/michael-carroll-b40020250/">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
        
                            <a aria-label="github" target="_blank" rel="noreferrer" href="https://github.com/Michaelc322">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </span>
                    </div>
                    <div class="imageBorder">
                        <div class="homeImg">
                            <img src="../../assets/carphoto1.png">
                            <h2>Michael Carroll</h2><br>
                            <a href = "#contact">contact</a>
                        </div>
                    </div>
                </div>
                <div class="skills">
                    <p>Tech Stack</p>
                    <div class="skill-logos">
                        <ul>
                            <li>
                                <img src="../../assets/html-5-svgrepo-com.svg" title = "HTML5" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/css-3-svgrepo-com.svg" title = "CSS3" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/javascript-svgrepo-com.svg" title = "Java Script" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/angular-svgrepo-com.svg" title = "Angular" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/vue-9-logo-svgrepo-com.svg" title = "VueJS" alt="skill-icon">
                            </li>
                            <li>
                                <img src="../../assets/typescript-official-svgrepo-com.svg" title = "Type Script" alt="skill-icon">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id = "about" class = "about">
        <div class="container-about">
            <div class="contentAbout">
                <div class="aboutImg">
                    <img src="../../assets/carphoto2.png" class = "img-main">
                </div>
                <div class="aboutText">
                    <h1>ABOUT ME</h1>
                    <h2>A Dedicated Software Developer</h2>
                    <p>I am a student at Florida State University pursuing a Bachelor of Science in Computer Science. 
                        Throughout my studies and personal projects, I have acquired skills in HTML, CSS, JavaScript, Angular, 
                        React, TypeScript, and C++. My primary focus is efficiently writing code that enhances the user experience 
                        with appealing designs and fluidity. I am a team player who enjoys collaborating with team members to 
                        create cutting-edge web applications.
                    </p>
                    <span class = "attachments">
                        
                        <a target="_blank" href="../../assets/MichaelCarrollResume2.pdf" rel="noreferrer">
                            <div class="resume">
                                <p>Resume</p>
                                <i class="fa-solid fa-file"></i>
                            </div>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section id = "work" class = "work">
        <div class="container-work">
            <div class="contentWork">
                <h3>Projects</h3>
                <h2>WORK COMING SOON 🥳</h2>
                <div class="projectsGrid">
                    <div class="proj proj1">
                        <div class="projImg">
                            <a target="_blank" href="https://usapickleball.org/what-is-pickleball/" rel="noreferrer">
                                <img class ="projImgMain" src="../../assets/usapickleball.org_what-is-pickleball_.png" alt="website">
                            </a>
                        </div>
                        <div class="projText">
                                <h3>Project 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    In dictum non consectetur a erat nam at lectus urna</p>
                                <div class="stack">
                                    <p>React</p>
                                    <p>SCSS</p>
                                </div>
                                <div class="links">
                                    <a class ="brand" target="_blank" href="https://github.com" rel="noreferrer">Code 
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                    <a class ="free" target="_blank" href="" rel="noreferrer">Live Demo
                                        <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
                                    </a>
                                </div>
                        </div>
                    </div>
                    <div class="proj proj1">
                        <div class="projImg">
                            <a target="_blank" href="https://www.usf.edu/" rel="noreferrer">
                                <img class ="projImgMain" src="../../assets/www.usf.edu_.png" alt="website">
                            </a>
                        </div>
                        <div class="projText">
                                <h3>Project 2</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    In dictum non consectetur a erat nam at lectus urna</p>
                                <div class="stack">
                                    <p>React</p>
                                    <p>SCSS</p>
                                </div>
                                <div class="links">
                                    <a class ="brand" target="_blank" href="https://github.com" rel="noreferrer">Code 
                                        <i class="fa-brands fa-github"></i>
                                    </a>
                                    <a class ="free" target="_blank" href="" rel="noreferrer">Live Demo
                                        <i class="fa-solid fa-arrow-up-right-from-square link-icon"></i>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id = "contact" class ="contact">
        <div class="container-contact" id = "contact">
            <div class="contact-content">
                <div class="contactText1">
                    <h3>
                        CONTACT
                    </h3>
                </div>

                <div class="contactIcons">
                    <div class="contactBox">
                        <span>
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        <div class="contactInfo">
                            <h2>Email</h2>
                            <p>michaelc32204@gmail.com</p>
                        </div>
                    </div>
                    <div class="contactBox">
                        <span>
                            <i class="fa-solid fa-square-phone-flip"></i>
                        </span>
                        <div class="contactInfo">
                            <h2>Mobile</h2>
                            <p>(407) 782 - 6527</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="container-footer">
            <div class="footer-content">
                <h3>
                    Copyright ©
                    2023. All rights are reserved
                </h3>
                <div class="footersocials">
                    <a aria-label="linkedin" target="_blank" rel="noreferrer" href="https://www.linkedin.com/in/michael-carroll-b40020250/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>

                    <a aria-label="github" target="_blank" rel="noreferrer" href="https://github.com/Michaelc322">
                        <i class="fa-brands fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="navbar.component.ts">

    </script>
</body>
</html>